body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans Mono", monospace;
}

.tiles-container {
  display: flex;
  flex-direction: column;
}
.tile {
  position: relative;
  min-width: 170px;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  &__keyword {
    text-align: left;
    padding-left: 20px;
    font-size: 13px;
  }

  &-0::after,
  &-0 {
    background-color: rgb(249, 214, 214);
  }
  &-1::after,
  &-1 {
    background-color: rgb(244, 242, 192);
  }
  &-2::after,
  &-2 {
    background-color: rgb(174, 238, 249);
  }
  &-3::after,
  &-3 {
    background-color: rgb(196, 249, 174);
  }
  &-4::after,
  &-4 {
    background-color: rgb(227, 184, 249);
  }
  &-5::after,
  &-5 {
    background-color: rgb(254, 188, 227);
  }
  &-6 {
    background-color: rgb(254, 161, 161);
  }

  &-1,
  &-2,
  &-3,
  &-4,
  &-5 {
    border-top-left-radius: 40px;
  }

  &-0 {
    border-top-right-radius: 40px;
  }
  &-6 {
    border-bottom-right-radius: 40px;
  }

  &-0::after,
  &-1::after,
  &-2::after,
  &-3::after,
  &-4::after,
  &-5::after,
  &-6::after {
    content: "";
    position: absolute;
    height: 70px;
    z-index: -1;
    width: 60px;
    bottom: -40px;
    left: 0;
    height: 40px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.data-container {
  display: flex;
  justify-content: space-around;
}
